
.container {
  /* opacity: 0.8; */
  /* height: 60%;
  width: 50%; */
  padding: 2em;
  margin-top: 1em;
  /* margin-bottom: 2em; */
}

.container2 {
  padding-top: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  text-align: left;
  margin-bottom: 1em;
}

.fromContainer {
  display: flex;
  flex-direction: row;
}
.searchMainPanel {
  /* text-align: center;
  display: flex;
  flex-direction: row; */
  padding: 0.7em;
}
.searchPanel {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.containerRegistration {
  /* opacity: 0.8; */
  padding: 1em;
  /* text-align: right; */
  margin-top: 1em;
  /* margin-bottom: 2em; */
}

.containerRegistration {
  /* opacity: 0.8; */
  padding: 1em;
  /* text-align: right; */
  margin-top: 1em;
  /* margin-bottom: 2em; */
}

.containerRegistrationButtons {
  margin-bottom: 1em;
}

.containerGrid {
  padding-top: 1em;
  padding-bottom: 1em;
}

.containerExtra {
  background-color: bisque;
  text-align: right;
  padding-right: 3em;
  /* opacity: 0.8; */

  /* text-align: right; */
  /* margin-top: 2em;
  margin-bottom: 2em; */
}
